RemoteSystemsTempFiles/
.metadata
src/RemoteSystemsTempFiles/
src/.metadata
src/nldb/.settings/
src/nldb/libnldb.so
src/gtest/.settings/
src/gtest/gtest
src/gtest/1-2/
src/tests/.settings/
src/tests/tests
external-libs/include
external-libs/lib
external-libs/build

# Exlude all files in build folders
*/*/GccDebug/*
*/*/GccRelease/*
*/*/IndelDebug/*
*/*/IntelRelease/*

# Except make files in all build folders
!*/*/*/makefile
!*/*/*/objects.mk
!*/*/*/sources.mk
!*/*/*/subdir.mk



